@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

footer{
    margin-top: auto;
}


h1{ font-size: 2em;

}

#section-dos h2{ font-size: 2.7em;

}

#visitanos h3{ font-size: 2em;

}

p{ font-size: 1.25em;

}

ul{ list-style: none;

}

li{ font-size: 1.25em;

}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #4E76F6;
}

button:hover{
background-color: cornflowerblue;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:#4E76F6; 

}

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #4E76F6;
    font-size: 1.6em;
    text-decoration: none;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #4E76F6;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 55vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/mujerconlentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.3em;
    text-decoration: none;
}

button a{
    text-decoration: none;
    color: #fff;
}

.section-dos{
    text-align: center;
    padding: 70px 42px;
    height: 55vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/genteconlentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-top: 6em;
}

.visitanos{
    background-color: #4E76F6;
    padding: 60px;
    text-align: center;
    color:#fff;
    margin-top: 6em;
}

.wpp-icon{
    float: right;
    position: sticky;
    top: 0;
    bottom: 0;
    margin-top: 700px;
}

.wppImg{
    height: 65px;
    width: 65px;
}

.tarjeta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.tarjeta img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.tarjeta h2{
    text-align: center;
}

.tarjeta:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
}

.tarjeta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
}
    
.tarjeta:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )

}

#products{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("../img/mujerconlentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#products h1{
    color: white;
}
    
#products button{
    font-size: 1.3em;
}

#products a{
    text-decoration: none;
    color: #fff;
}

#nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/lentesDeSol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#nosotros h1{
    color: white;
}

#nosotros button{
    font-size: 1.3em;
}

#nosotros a{
    text-decoration: none;
    color: #fff;
}

#nosotros-texto h2{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: #4E76F6;
    color: #fff;
    padding: 20px;
}

#nosotros-texto p{
    display: flex;
    text-align: center;
    margin-top: 50px;
}

#form4Example4{
    margin-left: 4px;
}

#contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("../img/pareja-lentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#contacto h1{
    color: white;
}

#contacto button{
    font-size: 1.3em;
}

#contacto a{
    text-decoration: none;
    color: #fff;
}

#contacto-texto h2{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: #4E76F6;
    color: #fff;
    padding: 20px;
}

#contacto-texto p{
    display: flex;
    text-align: center;
    margin-top: 50px;
}

#dudas h2{
    display: flex;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 20px;
    justify-content: center;
    background-color: #4E76F6;
    color: #fff;
}

#obras-sociales{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/shutterstock_106052774.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#obras-sociales h1{
    color: white;
}

#obras-sociales button{
    font-size: 1.3em;
}

#obras-sociales a{
    text-decoration: none;
    color: #fff;
}

#obras-sociales-2 h2{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: #4E76F6;
    color: #fff;
    padding: 20px;
    font-size: 1em;
}

#obras-sociales-2 img{
    padding: 20px;
}

.img-obra-social{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

@media (min-width: 425px)
{
.tarjeta:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
}

.tarjeta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
}
.tarjeta:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
    
}
.tarjeta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.tarjeta img{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

}

@media (min-width: 650px)
{
header{
    position: relative;
    width: 100%;
}

header .container{
        flex-direction: row;
    justify-content: space-between;
}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}
    
header li{
    display: inline-block;
}
    
header a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
#hero h1{
    font-size: 5em;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/mujerconlentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-dos{
    text-align: center;
    padding: 200px 12px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/genteconlentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-top: 6em;
}

.wppImg{
    height: 89px;
    width: 89px;
}

.wpp-icon{
    float: right;
    position: sticky;
    top: 30px;
    bottom: 30px;
    margin-top: 300px;
}

#products{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("../img/mujerconlentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#form4Example4{
    margin-left: 8px;
}

.tarjeta:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
}

.tarjeta:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
}
.tarjeta:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0, 21, 255, 0.567),
    rgba(0, 21, 255, 0.567)
    )
    
}
.tarjeta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.tarjeta img{
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1{ font-size: 3.5em;

}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
    text-decoration: none;
}

button a{
    text-decoration: none;
    color: #fff;
}

#hero button{
    font-size: 1.75em;
    text-decoration: none;
}

#products button{
    font-size: 1.75em;
}

#contacto button{
    font-size: 1.75em;
}

#nosotros button{
    font-size: 1.75em;
}

#nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/lentesDeSol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("../img/pareja-lentes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#obras-sociales{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/shutterstock_106052774.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
}

@media (min-width: 768px)
{
.img-obra-social{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    grid-auto-rows: 200px;
}
}